# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "main", "fix/*", "feature/*" ]
  pull_request:
    branches: [ "main", "fix/*", "feature/*" ]

jobs:
  build:

    runs-on: ubuntu-latest

#    strategy:
#      matrix:
#        node-version: [12.x, 14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    services:
      postgres:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: local
          MYSQL_DATABASE: playground
        ports:
          - "53306:3306"

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
        cache: 'npm'
    - run: node -v
    - run: npm -v
    - run: npm ci
    - run: npm run build
    - run: npm test
    - uses: actions/upload-artifact@v3
      if: success() || failure()
      with:
        name: test-results
        path: junit.xml
